<?xml version="1.0" encoding="utf-8"?>

<LocalFile path="1.jpg" lastver="1.0.0.0" size="0"  md5=""/>
<LocalFile path="2.jpg" lastver="1.1.0.0" size="0"  md5=""/>
<LocalFile path="3.jpg" lastver="1.0.0.0" size="0"  md5="f90b4b12c3ffc34eead9cf8cf84a0e0a"/>
<LocalFile path="4.jpg" lastver="1.0.0.0" size="0"  md5=""/>
<LocalFile path="5.jpg" lastver="1.0.0.0" size="0"  md5=""/>
<LocalFile path="6.jpg" lastver="1.0.0.0" size="0"  md5=""/>
</UpdateFileList>