<?xml version="1.0" encoding="utf-8"?>
<UpdateFileList>
<LocalFile path="BuildLog.htm" lastver="" size="0"  md5="314996a1b022382bd65200ce20e0b420"/>
<LocalFile path="BuildMd5File.exe" lastver="" size="0"  md5="6b34985c704e51e1d258dd1f0668c427"/>
<LocalFile path="ConfigMgr.obj" lastver="" size="0"  md5="f7f68559023533c3a35bcab4cc26a1cf"/>
<LocalFile path="MultiDownload.obj" lastver="" size="0"  md5="1be8b63a1716fbae7d35380fd8702e73"/>
<LocalFile path="SingleDownload.obj" lastver="" size="0"  md5="c41794fe83f62c478e8ffecc829f611c"/>
<LocalFile path="Update.exe.intermediate.manifest" lastver="" size="0"  md5="8168c986f3d8cb49f9911205280b0dda"/>
<LocalFile path="Update.obj" lastver="" size="0"  md5="5df2989efa1cb0c9d8c90269644af566"/>
<LocalFile path="Update.pch" lastver="" size="0"  md5="4898905659b78bdd4322048f765adbbd"/>
<LocalFile path="Update.res" lastver="" size="0"  md5="9698a7807d9511970732f4477db2215a"/>
<LocalFile path="UpdateDlg.obj" lastver="" size="0"  md5="571bfa982043f332c233e158f9bf35dc"/>
<LocalFile path="UpdateMgr.obj" lastver="" size="0"  md5="e9497795646bb630d1dfea5c6f506124"/>
<LocalFile path="fciv.exe" lastver="" size="0"  md5="e2c6d562bd35352b73c00a744e9c07c6"/>
<LocalFile path="mt.dep" lastver="" size="0"  md5="d977462951dabc5b569b76d872fa28a5"/>
<LocalFile path="stdafx.obj" lastver="" size="0"  md5="0992108aaf1e32afae3ef615cd0312c7"/>
<LocalFile path="tinystr.obj" lastver="" size="0"  md5="d6c577b4a42509671399da6b1a539759"/>
<LocalFile path="tinyxml.obj" lastver="" size="0"  md5="3535e32b99a1ffa2c5ec933508b1656e"/>
<LocalFile path="tinyxmlerror.obj" lastver="" size="0"  md5="72fba0cb35ddd81006ce2db38c790df4"/>
<LocalFile path="tinyxmlparser.obj" lastver="" size="0"  md5="c67da50a0c996dce7f1cf52030758c3d"/>
<LocalFile path="updatexml.xml" lastver="" size="0"  md5="085e59c1234fd8fea12d8ab5443afbc1"/>
<LocalFile path="vc80.idb" lastver="" size="0"  md5="836ab5a167a3851600cb0345d8c92e6e"/>
<LocalFile path="vc80.pdb" lastver="" size="0"  md5="afb01c118d7d65e358fae8aa6b78401a"/>
</UpdateFileList>